.main *{
    padding: 1rem;
    min-width: 10rem;
}
.head {
    background-color: cornflowerblue;
    color: white;
}

.row {
    background-color: white;
}

.row:nth-child(odd) {
    background-color: #eeeeee;
}